In [34]:
import numpy as np
import pandas as pd

np.random.seed(42)
ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(
    ["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"]
)

DF = pd.DataFrame({"id": ids, "age": ages, "salary": salaries, "dept": departments})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

### Q1. Create NumPy arrays from the ages and salaries data generated above. Print both arrays and display their dtype, ndim, shape, and size.

In [35]:
ages_array = np.array(ages)
salaries_array = np.array(salaries)
print("Ages:", ages_array)
print("Salaries:", salaries_array)

print('Ages dtype:', ages_array.dtype)
print('Salaries dtype:', salaries_array.dtype)

print('Ages size:', ages_array.size)
print('Salaries size:', salaries_array.size)

Ages: [56 46 32 25 38 56 36 40 28 28]
Salaries: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
Ages dtype: int32
Salaries dtype: int32
Ages size: 10
Salaries size: 10

### Q2. Using the salaries array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.

In [36]:
highest_salary = np.max(salaries_array)
lowest_salary = np.min(salaries_array)

avg_salary = np.mean(salaries_array)
avg_age = np.mean(ages_array)

print("Highest Salary:", highest_salary)
print("Lowest Salary:", lowest_salary)
print("Average Salary:", avg_salary)
print("Average Age:", avg_age)

Highest Salary: 89735
Lowest Salary: 30769
Average Salary: 57446.9
Average Age: 38.5

### Q3. From the ages array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.

In [37]:
ages_gt_30 = ages_array[ages_array > 30]
print("Ages greater than 30:", ages_gt_30)

count_gt_30 = np.sum(ages_array > 30)
print("Number of employees older than 30:", count_gt_30)

Ages greater than 30: [56 46 32 38 56 36 40]
Number of employees older than 30: 7

### Q4. Create a new NumPy array that increases every employeeâ€™s age by 5 years (without modifying the original array). Print the new updated ages array.

In [38]:
updated_ages = ages_array + 5
print("Original ages:", ages_array)
print("Updated ages:", updated_ages)

Original ages: [56 46 32 25 38 56 36 40 28 28]
Updated ages: [61 51 37 30 43 61 41 45 33 33]


### Q5. Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.

In [39]:
total_salary = np.sum(salaries_array)
salary_difference = np.max(salaries_array) - np.min(salaries_array)

print("Total Salary:", total_salary)
print("Difference:", salary_difference)

Total Salary: 574469
Difference: 58966

### Q6. Load the employees.csv file into a Pandas DataFrame. Display the first 5 rows, and check basic info using info() and summary statistics using describe().

In [40]:
df = pd.read_csv("employees.csv")

print("First 5 rows:")
print(df.head())

print("\nDataFrame Info:")
df.info()

print("\nSummary Statistics:")
print(df.describe())

First 5 rows:
   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes

Summary Statistics:
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

### Q7. Display only the id, age, and salary columns. Then show the last 3 rows using tail().

In [41]:
print(df[["id", "age", "salary"]])

print("\nLast 3 rows:")
print(df.tail(3))

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

Last 3 rows:
   id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

### Q8. Filter the DataFrame to show only employees who work in the IT department. Print the result and show the total number of IT employees.

In [42]:
it_employees = df[df["dept"] == "IT"]
print("IT Department Employees:")
print(it_employees)

total_it_employees = len(it_employees)
print("\nTotal IT Employees:", total_it_employees)

IT Department Employees:
   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total IT Employees: 3

### Q9. Sort the DataFrame by salary in descending order and display the top 3 highest-paid employees along with their department and age.

In [ ]:
sorted_df = df.sort_values(by="salary", ascending=False)
top_3_highest = sorted_df.head(3)

print("Top 3 Highest-Paid Employees:")
print(top_3_highest)

Top 3 Highest-Paid Employees:
   id  age  salary     dept
6   7   36   89735  Finance
7   8   40   86101       IT
0   1   56   77191       HR

### Q10. Replace all salary values greater than 80000 with 80000 using loc. Then calculate and print the new average salary of all employees after replacement.

In [ ]:
df.loc[df["salary"] > 80000, "salary"] = 80000

new_avg_salary = df["salary"].mean()

print(df)

print("\nNew average salary:", new_avg_salary)

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   80000  Finance
7   8   40   80000       IT
8   9   28   32433    Sales
9  10   28   35311       HR

New average salary after replacement: 55863.3