In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('employee.csv')

df.head()

,EmployeeID,Name,Age,Gender,City,Department,JobTitle,Salary,YearsExperience,PerformanceRating,EducationLevel,EmploymentStatus,StartDate,Bonus,RemoteDaysPerWeek,SatisfactionScore
0,1,Henry Smith,56,Female,Tucson,Customer Service,Customer Success Manager,79434,32,5,Master's,Full-time,2023-05-27 20:44:57.240793,10665,1,8.5
1,2,Rachel Davis,46,Female,Washington,IT,Network Engineer,94233,25,2,Bachelor's,Full-time,2017-04-18 20:44:57.240793,16029,0,7.6
2,3,Olivia Jones,32,Female,Jacksonville,HR,Recruiter,51141,12,4,Master's,Full-time,2017-01-13 20:44:57.240793,4339,0,5.5
3,4,Grace Perez,60,Female,New York,Operations,Process Analyst,99019,40,4,Bachelor's,Part-time,2022-03-30 20:44:57.240793,16566,0,5.0
4,5,Frank Jackson,25,Male,Portland,Customer Service,Customer Success Manager,53384,4,3,Bachelor's,Full-time,2021-03-01 20:44:57.240793,4822,1,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Emma Jones,23,Male,Houston,Marketing,Marketing Manager,80800,5,4,Bachelor's,Full-time,2019-12-31 20:44:57.240793,3417,3,7.9
996,997,Uma Lee,43,Male,Portland,Marketing,Digital Marketer,101529,22,3,High School,Full-time,2021-01-10 20:44:57.240793,14494,4,9.1
997,998,Emma Anderson,21,Female,Albuquerque,Customer Service,Support Manager,47452,0,3,Bachelor's,Full-time,2015-12-16 20:44:57.240793,5372,1,6.5
998,999,Diana Perez,36,Female,Tucson,Legal,Legal Counsel,125174,14,3,Master's,Full-time,2019-08-20 20:44:57.240793,20739,4,6.1
999,1000,Wendy Jones,37,Female,Chicago,IT,Database Administrator,110436,13,4,PhD,Contract,2021-05-29 20:44:57.240793,10958,2,8.3