In [34]:
import pandas as pd
import numpy as np

df = pd.read_csv('employee.csv')

df.head()

,EmployeeID,Name,Age,Gender,City,Department,JobTitle,Salary,YearsExperience,PerformanceRating,EducationLevel,EmploymentStatus,StartDate,Bonus,RemoteDaysPerWeek,SatisfactionScore
0,1,Henry Smith,56,Female,Tucson,Customer Service,Customer Success Manager,79434,32,5,Master's,Full-time,2023-05-27 20:44:57.240793,10665,1,8.5
1,2,Rachel Davis,46,Female,Washington,IT,Network Engineer,94233,25,2,Bachelor's,Full-time,2017-04-18 20:44:57.240793,16029,0,7.6
2,3,Olivia Jones,32,Female,Jacksonville,HR,Recruiter,51141,12,4,Master's,Full-time,2017-01-13 20:44:57.240793,4339,0,5.5
3,4,Grace Perez,60,Female,New York,Operations,Process Analyst,99019,40,4,Bachelor's,Part-time,2022-03-30 20:44:57.240793,16566,0,5.0
4,5,Frank Jackson,25,Male,Portland,Customer Service,Customer Success Manager,53384,4,3,Bachelor's,Full-time,2021-03-01 20:44:57.240793,4822,1,7.2

In [36]:
df.info()
df['Name'].nunique() # Check for unique names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         1000 non-null   int64
 1   Name               1000 non-null   object
 2   Age                1000 non-null   int64
 3   Gender             1000 non-null   object
 4   City               1000 non-null   object
 5   Department         1000 non-null   object
 6   JobTitle           1000 non-null   object
 7   Salary             1000 non-null   int64
 8   YearsExperience    1000 non-null   int64
 9   PerformanceRating  1000 non-null   int64
 10  EducationLevel     1000 non-null   object
 11  EmploymentStatus   1000 non-null   object
 12  StartDate          1000 non-null   object
 13  Bonus              1000 non-null   int64
 14  RemoteDaysPerWeek  1000 non-null   int64
 15  SatisfactionScore  1000 non-null   float64
dtypes: float64(1), int64(7), object(8)
memory usage: 125.1+ KB

591

In [42]:
# handling duplicate values 
df.drop_duplicates(inplace=True)

In [ ]:
# handling null values
df.fillna({'Age': df['Age'].median(), 'Department': 'Unknown'}, inplace=True) # if Age is null, fill with median age, if Department is null, fill with 'Unknown'

In [50]:
# datatime and time delta
df["StartDate"] = pd.to_datetime(df["StartDate"])
df['Experience'] = pd.Timestamp('now') - df['StartDate']

# remove time from StartDate
df['StartDate'] = df['StartDate'].dt.date
df['Experience'] = df['Experience'].dt.days // 365

df.head()

,EmployeeID,Name,Age,Gender,City,Department,JobTitle,Salary,YearsExperience,PerformanceRating,EducationLevel,EmploymentStatus,StartDate,Bonus,RemoteDaysPerWeek,SatisfactionScore,Experience
0,1,Henry Smith,56,Female,Tucson,Customer Service,Customer Success Manager,79434,32,5,Master's,Full-time,2023-05-27,10665,1,8.5,2
1,2,Rachel Davis,46,Female,Washington,IT,Network Engineer,94233,25,2,Bachelor's,Full-time,2017-04-18,16029,0,7.6,8
2,3,Olivia Jones,32,Female,Jacksonville,HR,Recruiter,51141,12,4,Master's,Full-time,2017-01-13,4339,0,5.5,8
3,4,Grace Perez,60,Female,New York,Operations,Process Analyst,99019,40,4,Bachelor's,Part-time,2022-03-30,16566,0,5.0,3
4,5,Frank Jackson,25,Male,Portland,Customer Service,Customer Success Manager,53384,4,3,Bachelor's,Full-time,2021-03-01,4822,1,7.2,4